[Unit]
Description=eyot-playground
After=syslog.target

[Service]
Type=simple
Restart=on-abort

ExecStart=/usr/bin/eyot-playground 12321 /var/lib/eyot-playground

ProtectSystem=strict
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
ProtectProc=invisible
DynamicUser=yes
PrivateDevices=yes
PrivateTmp=yes

CPUWeight=20
CPUQuota=30%
IOWeight=20
MemorySwapMax=0

StateDirectory=eyot-playground
ReadWritePaths=/var/lib/eyot-playground
RuntimeDirectory=eyot-playground

[Install]
WantedBy=multi-user.target
