Package: eyot-playground
Version: 0.0.0
Architecture: amd64
Maintainer: steeleduncan@hotmail.com
Description: Playground server for Eyot programming language (NB, this assumes Eyot deb is installed)
Depends: gcc, ocl-icd-opencl-dev, ufw, firejail, golang, oclgrind

